.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: 5%;
  h2 {
    color: goldenrod;
  }
}
.little-image {
  height: 500px;
  .flex-container {
    display: flex;
    .wine-left {
        background-color: goldenrod !important;
        border-radius: 55%;
        line-height: normal;
        border: none;
        color: white;
        position: absolute;
        left: 50px;
        margin-top: 10%;
      }
  }

}

.diva {
  padding-right: 20%;
  width: 400px;
  p {
    color: goldenrod !important;
  }
}

@media (min-width: 768px) {
  .little-image  {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .diva {
    padding-right: 25%;
  }
}

@media (max-width: 1008px) {
  
}

@media (max-width: 576px) {
  .little-image  {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .diva {
    font-size: 10px;
    padding-right: 2%;
  }
  .shadow{
    text-align: center;
  }
}